@import url('https://fonts.googleapis.com/css?family=Stylish');
.about-banner{
  background: url('../image/about-banner.jpg') no-repeat;
background-size: cover;
text-align: center;
margin-top: 80px;
margin-bottom: 20px;
height: 400px;
width: 100%;
max-height: 250px;
position: relative;
-webkit-box-shadow: 0px 7px 13px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 7px 13px -2px rgba(0,0,0,0.75);
box-shadow: 0px 7px 13px -2px rgba(0,0,0,0.75);
}
.about-banner h2{
    font-family: 'Stylish', sans-serif;
    font-size: 55px;
    font-weight: 500;
    position: absolute;
    top: 25%;
    left: 35%;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    padding: 0 10px;
    border-radius: 3px;
    letter-spacing: 2px;
}
